/* styles.css */

/* Title and subtitle header */
h1 {
    text-align: center;
    margin-bottom: 0px;
    margin-right: 520px;
}
h2 {
    text-align: center;
    margin-top: 0px;
    margin-right: 520px;
    color: #888;
}

/* User logos */
.logo {
    display: inline;
    float: left;
    clear: left;
    border-radius: 25%;
    margin-bottom: 4px;
}

/* User names */
h3 {
    display: inline;
    vertical-align: top;
    padding-left: 10px;
}

/* Timestamps */
h5 {
    display: inline;
    vertical-align: center;
    padding-left: 10px;
    color: #888;
}

/* Message text */
.content {
    margin-top: 8px;
    margin-bottom: 0px;
    padding-left: 58px;
}

/* Message attachments */
.attachment {
    padding: 8px;
    display: block;
}

/* Message embeds */
.embed {
    padding: 8px;
}

/* Whole message box */
.message {
    margin-top: 4px;
    padding: 6px;
    border-radius: 4px;
    clear: both;
    min-height: 48px;
    white-space: pre-wrap;
}
.message:hover {
    background-color: #32353b;
}

/* Reply messages */
.reply {
    display: inline;
    margin-left: 4px;
    padding: 2px;
    padding-top: 8px;
}
.reply:hover {
    background-color: #32353b;
}

div.reply {
    float: left;
    clear: left;
    border-radius: 4px;
}

.reply.logo {
    display: inline-block;
    vertical-align: top;
    padding-top: 0px;
    margin-top: 0px;
}

/* Mention styles in content */
.mention {
    background-color: #414675;
    border-radius: 2px;
    padding: 2px;
}
.mention:hover {
    background-color: #5865f2;
}

/* Code style */
code {
    background-color: #2f3136;
    padding: 2px;
    border-radius: 2px;
}

/* Search sidebar */
#search {
    padding: 32px;
    height: 100%;
    width: 440px;
    position: fixed;
    overflow-x: scroll;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #3f4247;
}

/* Message box */
#messages {
    margin-right: 520px;
}

/* Defaults */
body {
    color: #ddd;
    background-color: #36393f;
    font-family: Arial, Helvetica, sans-serif;
}
